.footer-section {
    background-color: #4c4c4c;
}

.footer-title {
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    font-family: "Courier New", Courier, monospace;
}
.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.footer-icons i {
    font-size: 30px;
    margin-top: 50px;
    margin-left: 20px;
    cursor: pointer;
    margin-bottom: 50px;
}
.all-links p {
    color: #fff;
}
.quick-links {
    color: #fff;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
}
.address-title {
    color: #fff;
    font-family: "Courier New", Courier, monospace;
}
.address-icons {
    margin-top: 50px;
    font-size: 20px;
    color: #fff;
}
.span-icons {
    margin-left: 20px;
}
.span-address {
    margin-left: 20px;
}
